/** GENERAL **/

.flex {
    display: flex;
}

.container_body .sidebar {
    width: 20%;
    height: 100vh;
    background-color: blue;
}

.container_body .container_content {
    padding: 3vh;
}


/** Pertanyaan **/