* {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.hidden {
    display: none !important;
}

/* navbar */

nav {
    background-color: #769fcd;
}

.button1 {
    background-color: #769fcd;
    border: none;
    color: #fff;
}

.button1 a {
    color: #fff;
}

.button2 {
    background-color: #fff;
    border: none;
}

li .button1 {
    border: 2px solid white;
}

.button2 a {
    color: #769fcd;
}

.color1 {
    background-color: #769fcd;
}

.fontColor1 {
    color: #769fcd;
}

#app {
    color: #557153;
}

/* sidebar */

.active {
    left: 0;
}

.sidebar {
    display: none;
    width: 20rem;
    min-height: 100vh;
    height: 100%;
    z-index: 99999;
}

.active {
    display: block;
}

.sidebar-menu {
    position: fixed;
    min-height: 100vh;
    background-color: #769fcd;
    min-width: 16rem;
    max-width: 20%;
    left: 0;
    z-index: 999999;
}

.sidebar ul li {
    list-style: none;
}

.judulBlog a {
    color: black;
}

.judulBlog a:hover {
    color: #769fcd;
}

#humberger {
    position: fixed;
    z-index: 99999;
    width: 28px;
    height: 30px;
}

.content {
    display: flex;
}
